
<div class="container">
    <h2>Student List</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">class</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.class }}</td>
            <td>
                <button class="btn btn-primary btn-sm mb-3" >View</button>&nbsp;
                <button class="btn btn-info btn-sm mb-3" >Edit</button>&nbsp;
                <button class="btn btn-danger btn-sm mb-3">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

