
<div class="container">
    <!-- Edit Form Section -->
    <button (click)="showRegistrationForm()" class="btn btn-primary">Add New Student</button>

            <!-- Registration Form -->
        <div *ngIf="showForm">
            <h2>Add New Student</h2>
            <form (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label>First Name:
                        </label><br>
                            <input type="text" class="form-control"  [(ngModel)]="newStudent.first_name" name="firstName" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Last Name:
                        </label><br>
                            <input type="text" class="form-control"  [(ngModel)]="newStudent.last_name" name="lastName" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Date of Birth:
                        </label><br>
                            <input type="date" class="form-control"  [(ngModel)]="newStudent.date_of_birth" name="dateOfBirth" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label>Class:
                        </label><br>
                            <input type="text" class="form-control"  [(ngModel)]="newStudent.class" name="class" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button> &nbsp;
                <button type="button" class="btn btn-danger"  (click)="cancel()">Cancel</button>
            </form>
        </div>




<h4>{{ editMode ? 'Edit Student' : '' }}</h4>
<div *ngIf="studentDetail">

    <form (submit)="submitForm()">
        
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label">First Name:</label><br>
                <input type="text" class="form-control" [(ngModel)]="studentDetail.first_name" name="firstName" required>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Last Name:</label><br>
                <input type="text" class="form-control" [(ngModel)]="studentDetail.last_name" name="lastName" required>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Date of Birth:</label><br>
                <input type="date" class="form-control" [(ngModel)]="studentDetail.date_of_birth" name="dateOfBirth" required>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Class:</label><br>
                <input type="text" class="form-control" [(ngModel)]="studentDetail.class" name="class" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button> &nbsp;
        <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
    </form>

  </div>


    <h2>Student List</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">class</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of students; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.class }}</td>
            <td>
                <button class="btn btn-primary btn-sm mb-3" (click)="viewStudent(student.id)">View</button>&nbsp;
                <button class="btn btn-info btn-sm mb-3" (click)="editStudent(student)">Edit</button>&nbsp;
                <button class="btn btn-danger btn-sm mb-3" (click)="deleteStudent(student.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Student Details Section -->
    <div *ngIf="studentDetail">
        <h2>Student Details</h2>
        <p>First Name:&nbsp;&nbsp; {{ studentDetail.first_name }}</p>
        <p>Last Name:&nbsp;&nbsp; {{ studentDetail.last_name }}</p>
        <p>Date of Birth:&nbsp;&nbsp; {{ studentDetail.date_of_birth }}</p>
        <p>Class:&nbsp;&nbsp; {{ studentDetail.class }}</p>
    </div>

</div>



